body {
  font-family: 'Lora', serif;
  line-height: 1.6;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-bottom: 1%;
  color: #4A4A4A;
}
p{
  font-family: 'Lora', serif;
  font-size: 19px;
}
h3,h5{
  color: #4A4A4A;
  font-weight: 900;
  text-align: left;
}
img{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

/* Nav Bar */
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.flex-row{
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar-brand {
  font-family: 'Lora', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  color: #4A4A4A;
  margin: 0 1.5rem;
}

/* Introduction section */
/* row divs of introduction section */
.row{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.row-full-width{
  max-width: 100%;
  height: 500px;
}
.align-middle{
  align-items: center;
  align-self: center;
  vertical-align: middle;
}
.col{
  position: relative;
  margin: 0;
}
.block-1{
  margin-left: 215px;
  position: relative;
  padding: 10% 15px;
}
.block-2{
 position: relative;
 margin-right: auto;
}
/* Image section */

.img-intro2{
  position: relative;
  margin-left: 215px;
}

/* Features Section */
#features{
  position: relative;
  padding: 8%;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.feature-heading{
  position: relative;
  margin-left: 15px;
}
.middle-heading {
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.95);
  max-width: 85%;
  position: relative;
  text-align: left;
}
/* feature image section */
.feature-image{
  width: 245px;
}
.f1{
  margin: -15% auto 0;
}

.img2{
  width: 265px;
}
.f2{
  margin: -15% auto 0;
}
.img3{
  width: 245px;
}
.f3{
  margin: -4% auto 0;
}
.img4{
  width: 290px;
}
.f4{
  margin: -17% auto 0;
}
#contact{
  padding: 5% 15%;
  background-color: #EEEEEE;
}
.last{
  position: absolute;
  right: 140px;
  top: 30px;
}
